---
title: Posts By Author
layout: index-page.liquid
pagination:
  include: Tags
  per_page: 20
  permalink_suffix: "./{{ num }}/"
  order: Desc
  sort_by: ["published_date"]
  date_index: ["Year", "Month"]
---
{% if paginator.indexes %} {% comment %} meta paginator case {% endcomment %}
  <h1>Tags</h1>
  <p>
    {% for ptag in paginator.indexes %}
      <span>
        <a href="/{{ ptag.index_permalink }}/" 
           style="font-size: {{ ptag.total_pages | times: 4 | plus: 80 }}%">
          {{ ptag.index_title }} ({{ ptag.total_pages }})
        </a>
      </span>
    {% endfor %}
  </p>
{% else %} {% comment %} normal paginator case {% endcomment %}
<h1>Tag: {{ paginator.index_title }}</h1>
<ul>
  {% for page in paginator.pages %}
    <li><a href="/{{ page.permalink }}">{{ page.title }}</a>
  {% endfor %}
{% endif %}
</ul>